.navbar{
    background-color:black;
    font-size: 17pt;
    font-optical-sizing: auto;
}

.margin{
    padding-top: 100px;
    padding-bottom: 100px;
}
.container-fluid{
    padding-top: 50px;
    padding-bottom: 50px;
}
    
p{
    text-align: justify;
    font-size: 15pt;
}

#Apresentação{
    background-color: yellow;
    font-weight: bold;
}

#Quemsomos{
    text-size-adjust:auto;
    background-color: red; 
    font-weight: bold;  
}
#Aospais{
    font-weight: bold;
    text-size-adjust: auto;
    background-color: black;
    color: blanchedalmond;
}
#Aosprofessores{
    background-color: green;
    font-weight: bold;
    text-size-adjust: auto;
}
#Militância{
    background-color: yellow;
    font-weight: bold;
    text-align: left;
   }
#Sala{
    background-color: red;
    font-weight: bold;
    text-size-adjust: auto;
}
#Faleconosco{
    background-color: black;
    color: blanchedalmond;
    font-weight: bold;
    text-size-adjust: auto;
}
footer{
    background-color: yellow;
    font-weight: bolder;
}
.autoplay{
    color: black;
}